<nav>
     <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <button class="nav-link active" id="approval-tab" data-toggle="tab" data-target="#approval" type="button" role="tab" aria-controls="approval" aria-selected="true">Approval Notification</button>
          <!-- <button class="nav-link" id="nav-profile-tab" data-toggle="tab" data-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">New Tab1</button>
          <button class="nav-link" id="nav-contact-tab" data-toggle="tab" data-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">New Tab2</button> -->
     </div>
</nav>
<div class="tab-content bg-white p-4" id="nav-tabContent">
     <div class="tab-pane fade show active" id="approval" role="tabpanel" aria-labelledby="approval-tab">
          <ngx-approval-notification></ngx-approval-notification>
     </div>
     <!-- <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">Profile</div>
     <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">Contact</div> -->
</div>