::ng-deep .forgotPassword-dialog {
  mat-dialog-container {
    background-color: #ffffff;
    position: relative;
    height: auto;
    width: 500px;
    border-radius: 15px;
    padding: 0px;
  }

  .header-text {
    font-weight: bold;
    font-size: 20px;
    margin-top: 37px;
    margin-left: 14px;
    display: flex;
    justify-content: center;
  }

  .button-foot {
    display: flex;
    justify-content: space-around;
    margin-top: 58px;
  }


  .modal-content {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
  }

  .input-group-text {
    background-color: #f1f1f5;
  }
}