<div class="">
       <div class="modal-header modal-head">
              <p class="modal-title text-white m-0" id="exampleModalLabel">Forget Password</p>
              <button type="button" class="close px-3 pb-0 pt-3" data-dismiss="modal" aria-label="Close"
                     (click)="value('close')">
                     <span aria-hidden="true" class="forget-close">&times;</span>
              </button>
       </div>
       <div class="modal-body pt-4 pb-0">
              <form [formGroup]="forgotPasswordForm">
                     <div class="row">
                            <div class="col-12">
                                   <label for="exampleInputEmail1" class="form-label">Email</label>
                                   <div class="input-group mb-3">
                                          <span class="input-group-text log-input py-0 border-0 rounded-0">
                                                 <i class="bi bi-envelope p-0 m-0"></i>
                                          </span>
                                          <input type="text" class="form-control log-input rounded-0"
                                                 placeholder="Enter user email ID" aria-label="Username"
                                                 aria-describedby="basic-addon1" formControlName="emailId">
                                          <span class="input-group-text log-input rounded-0 p-0"><button type="button"
                                                        id="button-addon2" (click)="sendOTP()"
                                                        class="btn btn-sm p-0 btn-download h-100 rounded-0 rounded-right">
                                                        Send OTP <i class="bi bi-arrow-right-short"></i></button></span>
                                   </div>
                            </div>
                            <div class="col-12">
                                   <label for="exampleInputEmail1" class="form-label">Enter Recived OTP</label>
                                   <div class="input-group mb-3">
                                          <input type="text" class="form-control log-input rounded-0"
                                                 placeholder="Enter Recived OTP" aria-label="Username"
                                                 aria-describedby="basic-addon1" formControlName="otp">
                                          <span class="input-group-text log-input rounded-0 p-0"><button type="button"
                                                        id="button-addon2"
                                                        class="btn btn-sm p-0 btn-download h-100 rounded-0 rounded-right">
                                                        Verify OTP <i class="bi bi-check-square"></i></button></span>
                                   </div>
                            </div>

                            <div class="col-6 pr-2">
                                   <label for="exampleInputEmail1" class="form-label">New Password</label>
                                   <div class="input-group mb-3">
                                          <input type="text" class="form-control log-input rounded-0"
                                                 placeholder="New Password" aria-label="Username"
                                                 aria-describedby="basic-addon1" formControlName="newPassword">
                                   </div>
                            </div>

                            <div class="col-6  pl-2">
                                   <label for="exampleInputEmail1" class="form-label">Confirm Password</label>
                                   <div class="input-group mb-3">
                                          <input type="text" class="form-control log-input rounded-0"
                                                 placeholder="Confirm Password" aria-label="Username"
                                                 aria-describedby="basic-addon1" formControlName="confirmPassword">
                                   </div>
                            </div>
                     </div>
              </form>
       </div>
       <div class="modal-footer justify-content-between p-2">
              <button type="button" class="btn btn-link text-secondary btn-sm" data-dismiss="modal"
                     (click)="value('close')">Close</button>
              <button type="button" (click)="value('add')" class="btn btn-link  btn-sm">Submit and Continue</button>
       </div>
</div>