<!-- <p>approval-delegation works!</p> -->
<div class="filter-heading">
  <div>
    <div class="cross-heading-lg">
      <span>Approval-Delegation</span>
    </div>
  </div>

  <div class="boxcard mb-5 zero-radius-top">
    <div class="row">
      <div class="col-md-2 px-md-3 px-0 mb-3">
        <nb-select
          class="form-control"
          placeholder="Role"
          [(ngModel)]="selectedItemNgModel"
          (selectedChange)="getUsersByRole(selectedItemNgModel)"
        >
          <nb-option value="ASM">ASM</nb-option>
          <nb-option value="ZH">ZH</nb-option>
          <nb-option value="RA">RA</nb-option>
        </nb-select>
      </div>

      <div class="col-md-2 px-md-3 px-0 mb-3">
        <nb-select
          class="form-control"
          placeholder="Owner Emp Id"
          [formControl]="ownerEmpId"
        >
          <nb-option *ngFor="let empId of ownerEmpIds" [value]="empId">{{
            empId
          }}</nb-option>
        </nb-select>
      </div>

      <div class="col-md-2 px-md-3 px-0 mb-3">
        <nb-select
          class="form-control"
          placeholder="Delegation Emp Id"
          [formControl]="delegatedEmpId"
        >
          <nb-option *ngFor="let empId of delegatedEmpIds" [value]="empId">{{
            empId
          }}</nb-option>
        </nb-select>
      </div>

      <div class="col-md-6 text-right px-md-3 px-0 mb-3">
        <!-- <button class="btn btn-info mr-2 btn-sm rounded-0">Search</button> -->

        <button
          class="btn btn-success btn-sm rounded-0"
          (click)="assignDelegation()"
        >
          Assign
        </button>
      </div>
    </div>

    <div class="tab-align">
      <nb-card class="table-responsive info-scroll-app">
        <!-- <nb-route-tabset fullWidth [tabs]="tabs" (changeTab)="tableView($event)"></nb-route-tabset> -->
        <table
          mat-table
          [dataSource]="dataSource"
          class="mat-elevation-z8 nowrap table-css table-striped"
        >
          <ng-container matColumnDef="toggle">
            <th mat-header-cell *matHeaderCellDef>Assign</th>
            <td mat-cell *matCellDef="let element">
              <mat-slide-toggle
                (change)="changed($event, element)"
                color="accent"
                [checked]="element.toggle"
              ></mat-slide-toggle>
              <!-- <nb-toggle [(ngModel)]="element.toggle"></nb-toggle> -->
            </td>
          </ng-container>

          <ng-container matColumnDef="transactionId">
            <th mat-header-cell *matHeaderCellDef>Transaction Id</th>
            <td mat-cell *matCellDef="let element">
              {{ element.TransId }}
            </td>
          </ng-container>

          <ng-container matColumnDef="firmName">
            <th mat-header-cell *matHeaderCellDef>Firm Name</th>
            <td mat-cell *matCellDef="let element">{{ element.Name }}</td>
          </ng-container>
          <ng-container matColumnDef="state">
            <th mat-header-cell *matHeaderCellDef>State</th>
            <td mat-cell *matCellDef="let element">{{ element.State }}</td>
          </ng-container>
          <ng-container matColumnDef="createdDate">
            <th mat-header-cell *matHeaderCellDef>Created On</th>
            <td mat-cell *matCellDef="let element">
              {{ element.CreatedOn | date }}
            </td>
          </ng-container>

          <ng-container matColumnDef="Status">
            <th mat-header-cell *matHeaderCellDef>Status</th>
            <td mat-cell *matCellDef="let element">
              {{ element.Status }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <mat-paginator
          class="p-2 bg-light bottom-fix"
          [length]="100"
          [pageSize]="10"
          [pageSizeOptions]="[5, 10, 25, 100]"
          aria-label="Select page"
        >
        </mat-paginator>
      </nb-card>
    </div>
  </div>

  <div class="loader-point" id="nb-global-spinner" *ngIf="loader">
    <div
      class="spinner-grow text-primary"
      style="width: 4rem; height: 4rem"
      role="status"
    ></div>
  </div>
</div>
