.line_left {
     border-left: 2px dashed #88babf;
     // border-bottom:2px inset grey;
     // background-image: url(../../../../assets/images/Ellipse55.svg);
}

.dot_area {
     margin-left: -7.6px;
     position: relative;
     bottom: -20px;
}

.all-bg-dot {
     width: 13px !important;
     height: 13px !important;
     border-radius: 50px;
     background-color: #007bff;
     display: inline-block;
     margin-right: 5px;
}

.draft-bg-dot {
     width: 13px !important;
     height: 13px !important;
     border-radius: 50px;
     background-color: #06cdec !important;
     display: inline-block;
     margin-right: 5px;
}

.initiate-bg-dot {
     width: 13px !important;
     height: 13px !important;
     border-radius: 50px;
     background-color: #17a2b8;
     display: inline-block;
     margin-right: 5px;
}

.pending-bg-dot {
     width: 13px !important;
     height: 13px !important;
     border-radius: 50px;
     background-color: #ffc107;
     display: inline-block;
     margin-right: 5px;
}

.approve-bg-dot {
     width: 13px !important;
     height: 13px !important;
     border-radius: 50px;
     background-color: #28a745;
     display: inline-block;
     margin-right: 5px;
}

.updated-bg-dot {
     width: 13px !important;
     height: 13px !important;
     border-radius: 50px;
     background-color: #6328a7;
     display: inline-block;
     margin-right: 5px;
}

.rejected-bg-dot {
     width: 13px !important;
     height: 13px !important;
     border-radius: 50px;
     background-color: #dc3545;
     display: inline-block;
     margin-right: 5px;
}

.others-bg-dot {
     width: 13px !important;
     height: 13px !important;
     border-radius: 50px;
     background-color: #fffff0;
     border: 1px solid #e07f1e;
     display: inline-block;
     margin-right: 5px;
}


.block_area {
     // display: flex;
     border-bottom: 0px solid #e1e1e1;
     padding-bottom: 10px;
     margin-top: 0px !important;
     line-height: 25px;
     border-radius: 10px;
     background-color: #ffffff00;
     box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;

     .left-text {
          padding: 0px 12px;
          font-weight: bold;
          font-size: 13px;
          margin-bottom: 5px;
     }

     .right-text {
          font-size: 13px;
          overflow-wrap: break-word;
          text-align: end;
          margin-bottom: 5px;
          padding: 0px 12px;
     }

}