@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);

.status-count {
  color: white;
  margin: 0px;
  font-size: 50px;
}

.search-box {
  display: contents;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  justify-content: right;

}

.tab-align {
  display: contents;
}

.table {
  width: 100%;
}

th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
  padding: 0;
  border-bottom-width: 0px !important;
  border-bottom-style: solid;
}

// Dashboard Card
.text-purp {
  color: #9652a1 !important;
}

.dash-card {
  width: 100% !important;
  height: 150px !important;
  box-shadow: 0rem 0.15rem 0.25rem rgb(0 0 0 / 18%) !important;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  // background: linear-gradient(180deg, #f9f9f9, #ffffff00);
  background-clip: border-box;
  border: 0px solid rgba(0, 0, 0, 0.125);
  border-radius: 1rem;
}

.dash-card:hover {
  width: 100% !important;
  height: 150px !important;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  // background: linear-gradient(180deg, #f9f9f9, #ffffff00);
  background-clip: border-box;
  border: 0px solid rgba(0, 0, 0, 0.125);
  border-radius: 1rem;
  cursor: pointer !important;
}

.count-text {
  font-size: 40px;
  font-weight: 500;
}

.card-title {
  margin-bottom: 0.75rem;
  font-weight: 500 !important;
}

.all-bg {
  background-image: url('../../../../assets/images/graph/11.png');
  background-position: bottom;
  background-attachment: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 4px solid #007bff !important;
  background-color: rgba(158, 193, 255, 0.4901960784);
}

.all-bg:hover {
  background-image: url('../../../../assets/images/graph/11.png');
  background-position: bottom;
  background-attachment: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 4px solid #007bff !important;
  background-color: rgba(255, 255, 255, 0.49);
  cursor: pointer !important;
}

.draft-bg {
  background-image: url('../../../../assets/images/graph/22.png');
  background-position: bottom;
  background-attachment: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 4px solid #9652a1 !important;
  background-color: rgb(150 82 161 / 31%);
}

.draft-bg:hover {
  background-image: url('../../../../assets/images/graph/22.png');
  background-position: bottom;
  background-attachment: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 4px solid #9652a1 !important;
  background-color: rgba(255, 255, 255, 0.49);
  cursor: pointer !important;
}

.initiate-bg {
  background-image: url('../../../../assets/images/graph/33.png');
  background-position: bottom;
  background-attachment: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 4px solid #17a2b8 !important;
  background-color: rgb(23 162 184 / 26%);
}

.initiate-bg:hover {
  background-image: url('../../../../assets/images/graph/33.png');
  background-position: bottom;
  background-attachment: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 4px solid #17a2b8 !important;
  background-color: rgba(255, 255, 255, 0.49);
  cursor: pointer !important;
}

.pending-bg {
  background-image: url('../../../../assets/images/graph/44.png') !important;
  background-position: bottom;
  background-attachment: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 4px solid #ffc107 !important;
  background-color: rgb(255 193 7 / 24%) !important;
}

.pending-bg:hover {
  background-image: url('../../../../assets/images/graph/44.png');
  background-position: bottom;
  background-attachment: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 4px solid #ffc107 !important;
  background-color: rgba(255, 255, 255, 0.49) !important;
  cursor: pointer !important;
}

.approve-bg {
  background-image: url('../../../../assets/images/graph/55.png');
  background-position: bottom;
  background-attachment: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 4px solid #28a745 !important;
  background-color: rgb(40 167 69 / 19%);
}

.approve-bg:hover {
  background-image: url('../../../../assets/images/graph/55.png');
  background-position: bottom;
  background-attachment: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 4px solid #28a745 !important;
  background-color: rgba(255, 255, 255, 0.49);
  cursor: pointer !important;
}

.reject-bg {
  background-image: url('../../../../assets/images/graph/66.png');
  background-position: bottom;
  background-attachment: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 4px solid #dc3545 !important;
  background-color: rgb(220 53 69 / 23%);
}

.reject-bg:hover {
  background-image: url('../../../../assets/images/graph/66.png');
  background-position: bottom;
  background-attachment: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 4px solid #dc3545 !important;
  background-color: rgba(255, 255, 255, 0.49);
  cursor: pointer !important;
}


.all-bg-dot {
  width: 13px !important;
  height: 13px !important;
  border-radius: 50px;
  background-color: #007bff;
  display: inline-block;
  margin-right: 5px;
}

.draft-bg-dot {
  width: 13px !important;
  height: 13px !important;
  border-radius: 50px;
  background-color: #9652a1;
  display: inline-block;
  margin-right: 5px;
}

.initiate-bg-dot {
  width: 13px !important;
  height: 13px !important;
  border-radius: 50px;
  background-color: #17a2b8;
  display: inline-block;
  margin-right: 5px;
}

.pending-bg-dot {
  width: 13px !important;
  height: 13px !important;
  border-radius: 50px;
  background-color: #ffc107;
  display: inline-block;
  margin-right: 5px;
}

.approve-bg-dot {
  width: 13px !important;
  height: 13px !important;
  border-radius: 50px;
  background-color: #28a745;
  display: inline-block;
  margin-right: 5px;
}

.reject-bg-dot {
  width: 13px !important;
  height: 13px !important;
  border-radius: 50px;
  background-color: #dc3545;
  display: inline-block;
  margin-right: 5px;
}

// Filter And Search


@media(max-width:576px) {
  .dash-card {
    width: 100% !important;
    height: 100px !important;
    box-shadow: 0rem 0.15rem 0.25rem rgb(0 0 0 / 18%) !important;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    // background: linear-gradient(180deg, #f9f9f9, #ffffff00);
    background-clip: border-box;
    border: 0px solid rgba(0, 0, 0, 0.125);
    border-radius: 1rem;
  }

  .dash-card:hover {
    width: 100% !important;
    height: 100px !important;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    // background: linear-gradient(180deg, #f9f9f9, #ffffff00);
    background-clip: border-box;
    border: 0px solid rgba(0, 0, 0, 0.125);
    border-radius: 1rem;
    cursor: pointer !important;
  }

  .count-text {
    font-size: 24px !important;
    font-weight: 500 !important;
  }

  .card-body {
    flex: 1 1 auto;
    padding: 1rem;
  }

  .card-title {
    margin-bottom: 0.75rem;
    font-size: 14px !important;
  }

  .all-bg-dot {
    width: 11px !important;
    height: 11px !important;
    border-radius: 50px;
    background-color: #007bff;
    display: inline-block;
    margin-right: 5px;
  }

  .draft-bg-dot {
    width: 11px !important;
    height: 11px !important;
    border-radius: 50px;
    background-color: #9652a1;
    display: inline-block;
    margin-right: 5px;
  }

  .initiate-bg-dot {
    width: 11px !important;
    height: 11px !important;
    border-radius: 50px;
    background-color: #17a2b8;
    display: inline-block;
    margin-right: 5px;
  }

  .pending-bg-dot {
    width: 11px !important;
    height: 11px !important;
    border-radius: 50px;
    background-color: #ffc107;
    display: inline-block;
    margin-right: 5px;
  }

  .approve-bg-dot {
    width: 11px !important;
    height: 11px !important;
    border-radius: 50px;
    background-color: #28a745;
    display: inline-block;
    margin-right: 5px;
  }

  .reject-bg-dot {
    width: 11px !important;
    height: 11px !important;
    border-radius: 50px;
    background-color: #dc3545;
    display: inline-block;
    margin-right: 5px;
  }
}


@media(min-width: 1280px) and (max-width: 1366.97px) {
  .dash-card {
    width: 100% !important;
    height: 100px !important;
    box-shadow: 0rem 0.15rem 0.25rem rgb(0 0 0 / 18%) !important;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 0px solid rgba(0, 0, 0, 0.125);
    border-radius: 1rem;
  }

  .dash-card:hover {
    width: 100% !important;
    height: 100px !important;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 0px solid rgba(0, 0, 0, 0.125);
    border-radius: 1rem;
    cursor: pointer !important;
  }

  .card-body {
    flex: 1 1 auto;
    padding: 1rem;
  }

  .count-text {
    font-size: 28px !important;
    font-weight: 500 !important;
  }

  .card-title {
    margin-bottom: 0.5rem;
    font-size: 12px !important;
    font-weight: 400;
  }

  .dash-card-pad {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }

  .all-bg-dot {
    width: 10px !important;
    height: 10px !important;
    border-radius: 50px;
    background-color: #007bff;
    display: inline-block;
    margin-right: 5px;
  }

  .draft-bg-dot {
    width: 10px !important;
    height: 10px !important;
    border-radius: 50px;
    background-color: #9652a1;
    display: inline-block;
    margin-right: 5px;
  }

  .initiate-bg-dot {
    width: 10px !important;
    height: 10px !important;
    border-radius: 50px;
    background-color: #17a2b8;
    display: inline-block;
    margin-right: 5px;
  }

  .pending-bg-dot {
    width: 10px !important;
    height: 10px !important;
    border-radius: 50px;
    background-color: #ffc107;
    display: inline-block;
    margin-right: 5px;
  }

  .approve-bg-dot {
    width: 10px !important;
    height: 10px !important;
    border-radius: 50px;
    background-color: #28a745;
    display: inline-block;
    margin-right: 5px;
  }

  .reject-bg-dot {
    width: 10px !important;
    height: 10px !important;
    border-radius: 50px;
    background-color: #dc3545;
    display: inline-block;
    margin-right: 5px;
  }
}

.filter-tab {
  background-color: aliceblue;
  margin-left: 0px;
}

.body-filter {
  padding: 4px;
  display: flex;
}

.search-filter {
  margin: 2%;
}